@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", ui-serif, Georgia, serif;
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #D96C4A;
  --color-primary-hover: #c25938;
  --color-cream: #FDFBF7;
  --color-alabaster: #FAFAFA;
  --color-charcoal: #1E1E1E;
  --color-slate: #4A4A4A;
}

body {
  background-color: var(--color-alabaster);
  color: var(--color-slate);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}
